@import url('https://fonts.googleapis.com/css2?family=B612:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

input::placeholder {
    color: #52526B
}

@layer base {
    input, textarea, [contenteditable="true"] {
        caret-color: #8F5EB5 !important;
    }
}

body {
    font-family: 'Roboto', sans-serif;
}
.messages-scroll::-webkit-scrollbar {
    display: none;
}

.messages-scroll {
    scrollbar-width: none;
}

.chats-scroll::-webkit-scrollbar {
    width: 2px;
}

.chats-scroll::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.15);
    border-radius: 9999px;
}

.chats-scroll::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.3)
}

.chats-scroll {
    scrollbar-width: thin;
    scrollbar-color: #52526B transparent;
}

@keyframes ripple-effect {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

.animate-ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple-effect 2500ms ease-out;
    background-color: rgba(0, 0, 0, 0.1);
    pointer-events: none;
}

@keyframes typingScale {
    0%, 100% {
        transform: scale(1);
        opacity: 0.6;
    }
    50% {
        transform: scale(1.4);
        opacity: 1;
    }
}

.scale-dot {
    display: inline-block;
    animation: typingScale 0.9s infinite ease-in-out;
}

.context-menu {
    transition:
        opacity 150ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 150ms cubic-bezier(0.4, 0, 0.2, 1);

    will-change: transform, opacity;
}

.context-menu.measuring {
    opacity: 0 !important;
    transform: scale(0.9) !important;
    pointer-events: none !important;
}

.context-menu.open {
    opacity: 1;
    transform: 
        scale(1);
    pointer-events: auto;
}

.context-menu.closed {
    opacity: 0;
    transform:
        scale(0.90);
    pointer-events: none;
}

.message-row-highlight {
    background-color: transparent;
    transition: background-color 100ms ease-in-out;
}

.message-row-highlight.active {
    background-color: rgba(0, 0, 0, 0.3);
}

@keyframes toast {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.animate-toast {
    animation: toast 3s ease forwards;
}

@keyframes pulse-send {
    0% {
        transform: scale(0.5);
    }

    80% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.animate-pulse-send {
    animation: pulse-send 400ms ease forwards;
}

aside.EmojiPickerReact {
    --epr-bg-color: #111111;
    --epr-text-color: #7F88C0;
    --epr-emoji-padding: 7px;
    --epr-horizontal-padding: 4px;
    --epr-emoji-size: 32px;
    --epr-picker-border-radius: 30px;
    --epr-highlight-color: #FFFFFF;
    --epr-hover-bg-color: #282836;
    --epr-focus-bg-color: #282836;
    --epr-category-navigation-button-size: 30px;
    --epr-category-label-bg-color: #1F1F28/80;
    --epr-category-label-height: 25px;
}

.epr-emoji-category-label {
    font-size: 15px !important;
    font-weight: 500 !important;
    padding-left: 8px !important;
    letter-spacing: 0.1px !important;
}

@keyframes slideDown {
    0% { transform: translateY(-50%); opacity: 0; }
    100% { transform: translateY(0); opacity: 1;}
}

.animate-slide-down {
    animation: slideDown 0.35s cubic-bezier(0.34, 0.5, 0, 1) forwards;
}

.emoji-pop {
    transform: scale(0);
    will-change: transform, opacity;
    animation: emojiGrow 0.28s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
    animation-delay: calc(var(--i) * 30ms);
}

@keyframes emojiGrow {
    from {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.15);
        opacity: 1;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
