@import url('https://fonts.googleapis.com/css2?family=B612:wght@400;700&display=swap');

@import "tailwindcss";

input::placeholder {
    color: #52526B
}
body {
    font-family: 'B612', sans-serif;
}
.messages-scroll::-webkit-scrollbar {
    display: none;
}

.messages-scroll {
    scrollbar-width: none;
}
