@import url('https://fonts.googleapis.com/css2?family=B612:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

input::placeholder {
    color: #52526B
}
body {
    font-family: 'B612', sans-serif;
}
.messages-scroll::-webkit-scrollbar {
    display: none;
}

.messages-scroll {
    scrollbar-width: none;
}

.chats-scroll::-webkit-scrollbar {
    width: 2px;
}

.chats-scroll::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.15);
    border-radius: 9999px;
}

.chats-scroll::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.3)
}

.chats-scroll {
    scrollbar-width: thin;
    scrollbar-color: #52526B transparent;
}

@keyframes ripple-effect {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

.animate-ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple-effect 1500ms ease-out;
    background-color: rgba(0, 0, 0, 0.1);
    pointer-events: none;
}

@keyframes typingScale {
    0%, 100% {
        transform: scale(1);
        opacity: 0.6;
    }
    50% {
        transform: scale(1.4);
        opacity: 1;
    }
}

.scale-dot {
    display: inline-block;
    animation: typingScale 0.9s infinite ease-in-out;
}

.context-menu {
    transform-origin: top left;

    transition:
        opacity 150ms ease-out,
        transform 150ms ease-out;

    will-change: transform, opacity;
}

.context-menu.open {
    opacity: 1;
    transform: 
        scale(1)
        translate(0);
    pointer-events: auto;
}

.context-menu.closed {
    opacity: 0;
    transform:
        scale(0.90)
        translateX(-10px)
        translateY(-10px);

    pointer-events: none;
}

